.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}

.formularioCalculaCusto,
.formularioRealizaSorteio {
  border: 1px solid #333;
  background-color: #ede0e0;
}

.formBolao,
.formSorteio {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input {
  max-width: 60px;
  height: 24px;
}

button {
  margin-top: 15px;
  height: 40px;
  width: 140px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

textarea {
  margin: 10px;
  width: 90%;
}

/* ================= ERROS ================= */
.erro {
  border: 2px solid red;
}

.erro-info {
  display: none;
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
